body {
  color: #555;
  background: #E5E5E5;
  margin: 0;
  padding: 0 .5rem;
}

a:focus {
  outline: none;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 30px !important;
}
.MuiButton-containedPrimary {
  border-radius: 50% !important;
}

.MuiButton-root {
  min-width: auto !important;
}

.MuiFormControl-marginDense {
  margin: 0 10px 0 0 !important;
}

.MuiCheckbox-root {
  color: #3f51b5 !important;
}

.MuiPaper-root,
.MuiCardContent-root {
  height: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 742px) and (orientation : portrait) {
  .MuiFormLabel-root {
    font-size: 13px !important;
  }
}