.App {
  border-radius: .5rem;
  font-family: 'Montserrat', sans-serif;
  min-height: 700px;
  margin: auto;
  max-width: 700px;
  width: 100%;
}

.sidebar {
  width: 100%;
}

.sidebar_nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 100%;
}

.link {
  border-radius: 2rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  margin: 0 5px;
  overflow: hidden;
  text-decoration: none;
}

.link_active {
  background: #356EFF;
  color: white;
}

.link_item {
  font-weight: 700 !important;
}

.link:focus {
  outline: none;
}