.App {
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  max-width: 700px;
  width: 100%;
}

.sidebar {
  width: 100%;
}


.sidebar_nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width:100%;
}

.title {
  font-weight: bold;
}

.link {
  border-radius: 2rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  overflow: hidden;
  text-decoration: none;
}

.link_item {
  font-weight: 700 !important;
}

.link:hover {
  background: #356EFF;
  color: white;
}
