.title {
  font-weight: 100;
}

.wrapperImg {
  
  width: 30%;
}
.avatar {
  border-radius: 50%;
  width: 100%;
}

.error_box {
  text-align: center;
}

.error_img {
  width: 50%;
}

.error_text {  
  display: block;
}

.list {
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  counter-reset: li;
}

.itemList {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #D3D4DA;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.itemList:hover {
  background: #b4bad4;
}

.itemList:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #9097A2;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.itemList:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.itemList:hover:after {
  left: -.5em;
  border-left-color: #9097A2;
}

.link {
  color:#444; 
  font: 14px "Trebuchet MS", "Lucida Sans";
  text-decoration: none;
}