.footer {
  align-items: center;  
  justify-content: space-between;
}

.footer,
.nav {
  display: flex;
}

.title {
  font-size: 1.5rem;
}

.nav {
  padding-top: 5px;
}

.text {
  cursor: pointer;
  padding: 5px 15px;
}

.active {
  background:#356EFF;
  border-radius: 30px;
  color: white;  
}

.count {
  color: #356EFF;
  font-size: 1rem;
  font-weight: 700;
}

.countColorWhite {
  color: white !important;
}

@media (max-width: 610px) {
  .title {
    font-size: 1.2rem;
    margin: 0;
  }

  .text {
    font-size: 0;
    position: relative;
  }
  
  .All {
    font-size: 1rem;
  }
  
  .visible {
    display: none;
  }
}