.footer {
  display: flex;
}

.text {
  padding: 12px;
  text-align: center;
}


.active {
  background: blue;
  border-radius: 30px;
  color: white;  
}

.count {
  color: blue;
  font-weight: 700;
}